@import url(all.min.css);
*{
    margin: 0;
    padding: 0;
}

.first_section{
    background-color: #87509c;
   /*  height: 595px; */
}

.first_section nav .container img{
    /* width: 117px; */
    height: 37px;
}

.first_section nav .container li{
    margin: 0px 5px;
    color: #ffffff;
    font-family: 'Titillium Web', sans-serif;
}


.first_section nav .container .active{
    /* padding: 2px 8px; */
    padding: 0px 10px;
    border-radius: 5px;
    background-color: #643a79;
}

.first_section .container{
    text-align: center;
}

.first_section .container p{
    margin-top: 143px;
    color: #ffffff;
    /* text-align: center; */
    font-family: 'Titillium Web', sans-serif;
    font-weight: bold;
    font-size: 42.16px;
}

.first_section .container .btn{
    margin-top: 62px;
    margin-bottom: 146px;
    background-color: #eb7d4b;
    color: #ffffff;
    font-family: 'Titillium Web', sans-serif;
    font-size: 18px;
    font-weight: semi-bold;
    padding: 28px 82px;
    border-bottom: 4px solid #c86a40;
}

.second_section{
    /* height: 747px; */
    background-color: #17c2a4;
    text-align: center;
}

.second_section .container h2{
    text-align: center;
    padding-top: 119px;
    color: #ffffff;
    font-family: 'Titillium Web', sans-serif;
    font-weight: bold;
    font-size: 40px;
    
}



.second_section .container p{
    margin-top: 20px;
    text-align: center;
     font-family: 'Titillium Web', sans-serif;
     font-size: 18px;
     color: #ffffff;
}
.second_section .container .row{
margin-top: 80px;
}

.second_section .container .row .col-sm{
    text-align: center;
    
    font-family: 'Titillium Web', sans-serif;
    color: #ffffff;
}

.second_section .container .row .col-sm img{
    height: 128px;
}
.second_section .container .row .col-sm h1{
    font-size: 18px;
    font-weight: bold;
    margin-top: 58px;
}

.second_section .container .row .col-sm p{
    font-size: 16px;
    font-weight: light;
    margin-top: 30px;
    margin-bottom: 130px;
}

.third_section{
    background-color: #e7f1f8;
    text-align: center;
}

.third_section .container h1{
    padding-top: 118px;
    font-family: 'Titillium Web', sans-serif;
    font-weight: bold;
    font-size: 41.2px;
    text-transform: uppercase;
    color: #3c4761;
}

.third_section .container img{
    margin-top: 20px;
}

.third_section .container p{
    margin-top: 23px;
    color: #535e75;
}


.third_section .container .row .col-sm .circle{
    margin-top: 84px;
    margin-left: 25px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #878787;
}

.third_section .container .row .col-sm h5{
    margin-top: 35px;
    font-family: 'Titillium Web', sans-serif;
    font-weight: bold;
    font-size: 24px;
    text-transform: uppercase;
    color: #3c4761;
}

.third_section .container .row .col-sm .position{
    font-family: 'Titillium Web', sans-serif;
    font-weight: light;
    color: #30bae7;
}

.third_section .container .row .col-sm .details{
    font-family: 'Titillium Web', sans-serif;
    font-weight: light;
    color: #808b9d;
}

.third_section .container .row .col-sm ul li{
    display: inline-block;
}

.third_section .container .row .col-sm ul li i{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #bdd1df;
    padding: 7px;
    color: #ffffff;
    margin-bottom: 125px;
}

.fourth_section .container{
text-align: center;
margin-top: 115px;
}

.fourth_section .container h1{
    font-family: 'Titillium Web', sans-serif;
    font-weight: bold;
    font-size: 41.2px;
    text-transform: uppercase;
    color: #3c4761;
}

.fourth_section .container p{
    font-family: 'Titillium Web', sans-serif;
    font-weight: light;
    font-size: 18px;
    color: #535e75;
}

.fourth_section .container .row{
    margin-top: 83px;
}

svg.radial-progress {
  height: auto;
  max-width: 200px;
  padding: 1em;
  transform: rotate(-90deg);
  width: 100%;
}

svg.web circle{
  fill: rgba(0,0,0,0);
  stroke:#30bae7;
  stroke-dashoffset: 219.91148575129; 
  stroke-width: 7;
}

svg.html circle{
  fill: rgba(0,0,0,0);
  stroke:#d74680;
  stroke-dashoffset: 219.91148575129; 
  stroke-width: 7;
}

svg.graphics circle{
  fill: rgba(0,0,0,0);
  stroke:#15c7a8;
  stroke-dashoffset: 219.91148575129; 
  stroke-width: 7;
}

svg.ui circle{
  fill: rgba(0,0,0,0);
  stroke:#eb7d4b;
  stroke-dashoffset: 219.91148575129; 
  stroke-width: 7;
}

svg.radial-progress circle.incomplete { stroke: #dfe8ed; }

svg.radial-progress circle.complete { stroke-dasharray: 219.91148575129; }

svg.radial-progress text {
  fill: #3c4761;
  text-anchor: middle;
}


/* .fourth_section .container .row .col-sm img{
    height: 165px;
} */
.fourth_section .container .row .col-sm h1{
    margin-top: 27px;
    font-family: 'Titillium Web', sans-serif;
    font-weight: bold;
    font-size: 24px;
    text-transform: uppercase;
    color: #3c4761;
    margin-bottom: 122px;
}

.fifth_section{
    background-color: #ffdd99;
}

.fifth_section .container {
    text-align: center;
}

.fifth_section .container h1{
    padding-top: 115px;;
    font-family: 'Titillium Web', sans-serif;
    font-weight: bold;
    font-size: 41.2px;
    text-transform: uppercase;
    color: #3c4761;
}

.fifth_section .container p{
    margin-top: 22px;
}

.fifth_section .container .catogories{
    margin-top: 45px;
}

.fifth_section .container .catogories button{
    /* display: inline-block; */
    padding: 0px 20px;
    background-color: #ebc985;
    font-family: 'Titillium Web', sans-serif;
    font-weight: regular;
    font-size: 18px;
    color: #514c43;
}

.fifth_section .container .catogories .active{
    background-color: #ffffff;
}

.fifth_section .container .row{
    margin-top: 20px;
}


.fifth_section .container .row .col-sm-6 p{
    margin-top: 20px;
    font-family: 'Titillium Web', sans-serif;
    font-weight: regular;
    font-size: 18px;
    color: #514c43;
}

.fifth_section .container  #load{
    margin-top: 82px;
    text-transform: uppercase;
    font-family: 'Titillium Web', sans-serif;
    font-weight: semibold;
    font-size: 18px;
    background-color: #17c2a4;
    padding: 3px 58px;
    color: #ffffff;
    border-bottom: 3px solid #14a58c;
    margin-bottom: 110px;
}


.sixth-section{
    background-color: #d74680;
    text-align: center;
}

.sixth-section .container h3{
    
    padding-top: 6.25rem;
    font-weight: bold;
    font-size: 2.5rem;
    color: #ffffff;
    text-transform: uppercase;
}

.sixth-section .container .status{
    margin-top: 1.4375rem;
    font-weight: regular;
    font-size: 1.125rem;
    color: #ffffff;
    margin-bottom: 75px;
}

.sixth-section .container .row .col .circle{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #878787;
}

.sixth-section .container .row .col .message{
    text-align: left;
}
.sixth-section .container .row .col .message .details{
    font-style: italic;
    font-size: 21px;
    color: #ffffff;
}

.sixth-section .container .row .col .message .name{
    font-weight: bold;
    font-size: 24px;
    color: #ffffff;
    text-transform: uppercase;
}

.sixth-section .container .row .col .message .position{
    color: #ffdd99;
    font-size: 18px;
}
.sixth-section .container .row .col{
 margin-bottom: 120px;
}

.seventh-section{
     background-color: #3c5499;
    text-align: center;
}

.seventh-section .container h3{
    
    padding-top: 6.25rem;
    font-weight: bold;
    font-size: 2.5rem;
    color: #ffffff;
    text-transform: uppercase;
}

.seventh-section .container p{
    margin-top: 1.4375rem;
    font-weight: regular;
    font-size: 1.125rem;
    color: #ffffff;
    margin-bottom: 78px;
}

.seventh-section .container form{
    margin-left: 100px;
    margin-right: 100px;
}

.seventh-section .container form .form-group input{
    border: transparent;
    background-color: #273a71;
}

.seventh-section .container form .form-group input::placeholder{
    color: #ffffff;
}

.seventh-section .container form .form-group textarea{
    height: 200px;
    border: transparent;
    background-color: #273a71;
}
.seventh-section .container form .form-group textarea::placeholder{
    color: #ffffff;
}



.seventh-section .container form button{
    margin-top: 50px;
    padding: 3px 50px;
    background-color: #30bae7;
    border-bottom: 2px solid #299ec5;
    color: #ffffff;
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 144px;
    font-size: semibold;
    
}

footer{

    background-color: #344b8e;
    text-align: center;
}


footer li{
    color: #ffffff;
    display: inline-block;
    padding: 20px;
    font-size: 24px;
    font-weight: semibold; 
}

footer li:nth-child(2){
    color: #30bae7;
}

@media only screen and (max-width: 1000px) and (min-width: 320px){
  .fifth_section .container .row .col-sm-6 img{
      width: 300px;
      height: 170px;
}
}
